torch-directml
ultralytics
requests
ncnn

#คำสั่งสำหรับติดตั้งแพ็กเกจที่ระบุใน requirements_amd.txt
#pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cpu
#pip install -r requirements_amd.txt